[Unit]
Description=Keycloak
After=network.target

[Service]
Type=simple
User=keycloak
Group=keycloak
ExecStart=/opt/keycloak/bin/kc.sh
  -Djboss.socket.binding.port-offset=100 \
  -Djboss.node.name={{node_name}} \
  -Djboss.bind.address={{node_ip}} \
  -Djboss.bind.address.private={{node_ip}} \
  -Djboss.jgroups.cluster.password={{cluster_password}} \
  -Djboss.jgroups.cluster.name={{cluster_name}} \
  -Djboss.jgroups.discovery.protocol=JDBC_PING \
  -Djboss.jgroups.discovery.jdbc.driver=org.postgresql.Driver \
  -Djboss.jgroups.discovery.jdbc.connection_url=jdbc:postgresql://{{postgres_host}}:{{postgres_port}}/{{keycloak_db}} \
  -Djboss.jgroups.discovery.jdbc.ping_query=SELECT 1 \
  -Dkeycloak.connectionsJpa.url=jdbc:postgresql://{{postgres_host}}:{{postgres_port}}/{{keycloak_db}} \
  -Dkeycloak.connectionsJpa.driver=org.postgresql.Driver \
  -Dkeycloak.connectionsJpa.user={{keycloak_user}} \
  -Dkeycloak.connectionsJpa.password={{keycloak_password}}
TimeoutStartSec=10
Restart=on-failure

[Install]
WantedBy=default.target